fastapi
uvicorn[standard]
sqlalchemy
pydantic
email-validator
python-dotenv
python-jose[cryptography]
pwdlib[argon2]
authlib
httpx
itsdangerous
python-multipart
numpy
pandas
scipy
joblib
scikit-learn==1.8.0
xgboost
catboost
psycopg[binary]